<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shopping2old</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>AA</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>UserSelectServlet</servlet-name>
    <servlet-class>com.shop.servlet.UserSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelectServlet</servlet-name>
    <url-pattern>/UserSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductSelectServlet</servlet-name>
    <servlet-class>com.shop.servlet.ProductSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductManageServlet</servlet-name>
    <servlet-class>com.shop.servlet.ProductManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryByOrderIdServlet</servlet-name>
    <servlet-class>com.shop.servlet.QueryByOrderIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdjustProductQuantyServlet</servlet-name>
    <servlet-class>com.shop.servlet.AdjustProductQuantyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.shop.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.shop.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSelectServlet</servlet-name>
    <url-pattern>/ProductSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductManageServlet</servlet-name>
    <url-pattern>/ProductManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryByOrderIdServlet</servlet-name>
    <url-pattern>/QueryByOrderIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdjustProductQuantyServlet</servlet-name>
    <url-pattern>/AdjustProductQuantyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductClassfyServlet</servlet-name>
    <servlet-class>com.shop.servlet.ProductClassfyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductClassfyServlet</servlet-name>
    <url-pattern>/ProductClassfyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCarServlet</servlet-name>
    <servlet-class>com.shop.servlet.addCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCarServlet</servlet-name>
    <url-pattern>/addCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addCarQuantyServlet</servlet-name>
    <url-pattern>/addCarQuantyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectPurchaseOrderServlet</servlet-name>
    <url-pattern>/SelectPurchaseOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdjustProductServlet</servlet-name>
    <url-pattern>/AdjustProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCarQuantyServlet</servlet-name>
    <servlet-class>com.shop.servlet.addCarQuantyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.shop.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectPurchaseOrderServlet</servlet-name>
    <servlet-class>com.shop.servlet.SelectPurchaseOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdjustProductServlet</servlet-name>
    <servlet-class>com.shop.servlet.AdjustProductServlet</servlet-class>
  </servlet>
  
  <filter>
	<filter-name>loginFilter</filter-name>
	<filter-class>com.shop.filter.loginFilter</filter-class>
	<init-param>
		<param-name>ignores</param-name>
		<param-value>/login.html,/register.html,/error.jsp,/UserSelectServlet,.js,.css,.jpg</param-value>
	</init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.shop.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>